/*  */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    height: 50vh;
}

.one {
    background-color: #2c2e31;
}

.two {
    background-color: #f1f5f8;
}

.card-container {
    background-color: #ffffff;
    width: 90vw;
    max-width: 650px;
    margin: 0 auto;
    transform: translateY(-40%);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .5rem;
}

.card-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: #f1f5f8;
    transform: translateY(-50%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom: 1px solid #b5b8ba;
}

.image {
    position: relative;
    border-radius: 50%;
    border: 4px solid white;
    outline: 1px solid #b5b8ba;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 2rem;
    height: 150px;
    width: 150px;
}